# WordPress Core
/wp-admin/
wp-content/index.php
wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
index.php
license.txt
readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php
.env

# Example Themes and Plugins
/wp-content/themes/twenty*/
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Cache and Backup Files
/wp-content/cache/
/wp-content/uploads/cache/
/wp-content/backup-*.zip

# Logs
*.log

# htaccess
/.htaccess

# IDE Settings
.vscode/
.idea/

# Custom Development (Whitelist Custom Themes/Plugins)
/wp-content/themes/your-custom-theme/
/wp-content/plugins/your-custom-plugin/
